<div id="rads_campaign_panel">
  <strong><%=campaign.name%></strong> 
  (Budget: $<%=campaign.budget%>, Remaining: $<%=campaign.budget_remaining%>)
  
  <%=link_to "Delete Campaign", 
          :controller => "rads", 
          :action => "delete_campaign", 
          :id => campaign.id%>
  <br/>
  
  <table border="0">
    <tr>
      <td>Banner Name</td>
      <td>Impressions</td>
      <td>Clicks</td>
      <td>Actions</td>
    </tr>
    <% 
    campaign.rads_banners.each{ |banner|
      impressions = 0
      clicks = 0
      banner.rads_banner_stats.each{ |stats| #this adds up all the impressions and clicks for all the months recorded
        impressions += stats.impressions
        clicks += stats.clicks
      }
      %>
    <tr>
      <td><%= banner.name %></td>
      <td><%= impressions %></td>
      <td><%= clicks %></td>
      <td>
        <%=link_to "View Banner",{ :controller => "rads", 
        :action => "view_banner", 
        :id => banner.id } %> | 
        <% if admin %>
          | <%=link_to "Delete Banner", {:controller => "rads", :action => "delete_banner", :id => banner.id} %>
        <% end %>
      </td>
    </tr>
    <% } %>
    </table>
</div>
